

/*
 * master styles for nds2013
 */

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

sup {
    font-size: 70%;
    font-weight: bold;
    position: relative;
    top: -4px;
    background: #ffc;
}

#container {
    width: 1000px;
    margin: 0 auto;
}

.menu {
    margin: 20px 0 30px;
    height: 28px;
}

.menu .item a {
    border: 1px solid #bbb;
    height: 28px;
    line-height: 28px;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 5px;
    float: left;
    box-shadow: inset 0px 0px 6px #ddd;
}

.menu .item a {
    text-decoration: none;
    color: #333;
}

.menu .item.active a {
    font-weight: bold;
    background: #eee;
}

.header-inner {
    clear: both;
    background: url(/assets/img/ndslogo.png) no-repeat;
    padding-left: 80px;
    min-height: 70px;
}


.title {
    font-size: 36px;
    font-weight: 300;
    line-height: 30px;
}

.subtitle {
    font-size: 20px;
    font-weight: normal;
    line-height: 50px;
}

#footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/*** wahlkreise ***/

.wahlkreise {
    margin-top: 20px;
}

.wahlkreise .wahlkreis {
    line-height: 34px;
}

.wahlkreis > div {
    display: inline-block;
}

.wahlkreis.header {
    height: 40px;
}
.wahlkreis.header div {
    font-weight: bold;
}

.wahlkreis .name {
    width: 20%;
}

.wahlkreis .pop {
    width: 10%;
}

.wahlkreis .est {
    text-align: center;
    width: 100px;
}

.wahlkreis .win {
    width: 15%;
}
.wahlkreis .win2 {
    width: 180px;
}
.wahlkreis:hover  {
    background: #eee;
}
.wahlkreis.header:hover {
    background: none;
}
.wahlkreis.header .sortable {
    cursor: pointer;
}
.wahlkreis.header .sortable:hover {
    background: #fee;
}
.wahlkreis.header .sorted {
    text-decoration: underline;
}
.wahlkreis .win div {
    display: inline-block;
    margin-right: 1px;
    font-size: 11px;
    font-weight: 400;
    width: 30px;
    line-height: 27px;
    text-align: center;
    background: #ccc;
    color: #fff;
}
.wahlkreis .win div.highlight {
    font-weight: bold;
}

.wahlkreis.header .win div {
    background: none;
    font-weight: 400;
    color: #000;
    line-height: 15px;
    font-style: italic;
}

.wahlkreis .win .CDU { background: #{{ page.CDU }};  }
.wahlkreis .win .SPD { background: #{{ page.SPD }};  }
.wahlkreis .win .FDP { background: #{{ page.FDP }}; color: #222; }
.wahlkreis .win .GRU { background: #{{ page.GRU }};  }
.wahlkreis .win .LIN { background: #{{ page.LIN }};  }
.wahlkreis .win .PIR { background: #{{ page.PIR }};  }