
.wahlkarten,.maps

    position: relative
    height: 850px

    #map
        position: absolute
        top: 220px
        left: 300px
        width: 700px

    #map-controls
        position: absolute
        top: 240px
        height: 550px
        left: 0px
        width: 280px

        h1
            font-size: 58px
            font-weight: 300
            position: relative
            left: -3px
            letter-spacing: -1
            line-height: 64px
            margin-bottom: 20px
        h2
            font-size: 20px
            font-weight: normal
            letter-spacing: -1
            line-height: 24px
            margin-bottom: 20px
            color: #666

        label
            font-weight: bold
            font-size: 14px
            display: block
            margin-top: 20px
            margin-bottom: 5px

        p
            margin-bottom: 10px

        .map-type-sel
            position: absolute
            left: 0
            bottom: 0

        .legend
            position: absolute
            left: 350px
            bottom: 0px
            width: 320px
            z-index: 10000

            .col-legend
                div
                    display: inline-block
                    line-height: 40px
                    font-size: 11px
                    margin-right: 1px
                    width: 43px
                    border-radius: 0
                    text-align: center
                    cursor: pointer

                $rad: 6px

                div:first-child
                    border-radius: $rad 0 0 $rad

                div:last-child
                    border-radius: 0 $rad $rad 0

    #map-thumbs
        position: absolute
        left: 0px
        width: 1000px
        height: 200px
        top: 30px

        .thumb
            display: inline-block
            width: 200px
            height: 200px
            position: relative

            label
                font-weight: bold
                font-size: 14px
                position: absolute
                left: 30px
                width: 50px
                text-align: center
                bottom: 50px

        .bottom
            position: absolute
            bottom: 0
            left: 100px
            width: 200px