---
libs:
  jquery: true
---
<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
<title>{{ page.title }}</title>

{% css_asset_tag global %}
- /_assets/css/fonts.css
- /_assets/css/bootstrap.min.css
- /_assets/css/reset.css.sass
- /_assets/css/styles.css.sass
- /_assets/css/coalitions.css.sass
- /_assets/css/maps.css.sass
- /_assets/css/jquery.qtip.css
- /_assets/css/barchart.css.sass
{% endcss_asset_tag %}

  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript">!window.jQuery.ui && document.write(unescape('%3Cscript src="assets/js/jquery.min.js"%3E%3C/script%3E'))</script>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script type="text/javascript">!window._.keys && document.write(unescape('%3Cscript src="assets/js/underscore-min.js"%3E%3C/script%3E'))</script>  

  {% if page.libs.raphael %}
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script type="text/javascript">!window.Raphael.version && document.write(unescape('%3Cscript src="assets/js/raphael-min.js"%3E%3C/script%3E'))</script>
  {% endif %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf8">
  <meta name="viewport" content="width=1034, user-scalable=yes" />
</head>
<body>
<div id="container">

  <div id="content" class="{{ page_id }}">
    {% capture c %}{{ content | strip_newlines }}{% endcapture %}
    {% if c == '' %}
      {% for k in page.menu %}
      {% capture u %}{{ k[0] | append:'/index.html' | prepend:'/' }}{% endcapture %}
      <div class="item{% if u == page.url %} active{% endif %}"><a href="/{{ k[0] }}/">{{ k[1] }}</a></div>
      {% endfor %}
    {% else %}
      {{ content }}
    {% endif %}
  </div>

</div>

  {% if page.script %}<script type="text/javascript" src="{{ page.script }}"></script>{% endif %}

</body>
</html>
